#visibleHidden{
	.item{
		width:200px;
		height:200px;
		float:left;
		text-align:center;
		padding:20px;

		h3{
			color:white;
		}
	}

	#item1{ background-color:red; }
	#item2{ background-color:orange; }
	#item3{ background-color:yellow; }
	#item4{ background-color:green; }
	#item5{ background-color:blue; }
	#item6{ background-color:purple; }

	.visuallyhidden{
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}