#accessibleButtonEvents{

    @media (min-width: 1120px){
        .nav-menu {
            width: 4.4em;
        }
        .nav-menu {
            cursor: pointer;
            height: 50px;
            -webkit-transition: color .2s;
            transition: color .2s;
            width: 50px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 32;
        }
    }

    @media (min-width: 768px){
        .nav-menu:before {
            color: #a6a6a6;
            content: 'menu';
            display: inline;
            font-weight: 300;
            line-height: 48px;
            position: relative;
            -webkit-transition: color .2s;
            transition: color .2s;
        }
    }

    @media (min-width: 1120px){
        .nav-menu__hamburger {
            right: 0;
            left: auto;
        }
        .nav-menu__hamburger, .nav-menu__hamburger:after, .nav-menu__hamburger:before {
            background: #a6a6a6;
            height: 2px;
            width: 20px;
        }
        .nav-menu__hamburger {
            margin: -1.5px 0 0 -10px;
            -webkit-transition: background .3s,color .2s;
            transition: background .3s,color .2s;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 32;
        }
    }

    .nav-menu__hamburger:before {
        position: absolute;
        top: -6px;
        left: 0;
    }
    .nav-menu__hamburger:after, .nav-menu__hamburger:before {
        content: '';
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transition: background .3s,-webkit-transform .3s;
        transition: background .3s,-webkit-transform .3s;
        transition: transform .3s,background .3s;
        transition: transform .3s,background .3s,-webkit-transform .3s;
    }
    .nav-menu__hamburger, .nav-menu__hamburger:after, .nav-menu__hamburger:before {
        background: #a6a6a6;
        height: 2px;
        width: 20px;
    }


    .nav-menu__hamburger:after {
        position: absolute;
        bottom: -6px;
        left: 0;
    }
    .nav-menu__hamburger:after, .nav-menu__hamburger:before {
        content: '';
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transition: background .3s,-webkit-transform .3s;
        transition: background .3s,-webkit-transform .3s;
        transition: transform .3s,background .3s;
        transition: transform .3s,background .3s,-webkit-transform .3s;
    }
    .nav-menu__hamburger, .nav-menu__hamburger:after, .nav-menu__hamburger:before {
        background: #a6a6a6;
        height: 2px;
        width: 20px;
    }
}